@font-face {
  font-family: 'Entypo';
  src: url('../font/entypo/entypo.eot');
  src: url('../font/entypo/entypo.eot?#iefix') format('embedded-opentype'),
       url('../font/entypo/entypo.woff') format('woff'),
       url('../font/entypo/entypo.ttf') format('truetype'),
       url('../font/entypo/entypo.svg#EntypoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*="ent-"]:before,
i[class*="ent-"],
.ent
{
  display: inline-block;
  vertical-align: middle;
  font-family: Entypo;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
}
.ent-phone:before{ content:'\1F4DE'; }
.ent-mobile:before{ content:'\1F4F1'; }
.ent-mouse:before{ content:'\E789'; }
.ent-address:before{ content:'\E723'; }
.ent-mail:before{ content:'\2709'; }
.ent-paper-plane:before{ content:'\1F53F'; }
.ent-pencil:before{ content:'\270E'; }
.ent-feather:before{ content:'\2712'; }
.ent-attach:before{ content:'\1F4CE'; }
.ent-inbox:before{ content:'\E777'; }
.ent-reply:before{ content:'\E712'; }
.ent-reply-all:before{ content:'\E713'; }
.ent-forward:before{ content:'\27A6'; }
.ent-user:before{ content:'\1F464'; }
.ent-users:before{ content:'\1F465'; }
.ent-add-user:before{ content:'\E700'; }
.ent-vcard:before{ content:'\E722'; }
.ent-export:before{ content:'\E715'; }
.ent-location:before{ content:'\E724'; }
.ent-map:before{ content:'\E727'; }
.ent-compass:before{ content:'\E728'; }
.ent-direction:before{ content:'\27A2'; }
.ent-hair-cross:before{ content:'\1F3AF'; }
.ent-share:before{ content:'\E73C'; }
.ent-shareable:before{ content:'\E73E'; }
.ent-heart:before{ content:'\2665'; }
.ent-heart-empty:before{ content:'\2661'; }
.ent-star:before{ content:'\2605'; }
.ent-star-empty:before{ content:'\2606'; }
.ent-thumbs-up:before{ content:'\1F44D'; }
.ent-thumbs-down:before{ content:'\1F44E'; }
.ent-chat:before{ content:'\E720'; }
.ent-comment:before{ content:'\E718'; }
.ent-quote:before{ content:'\275E'; }
.ent-home:before{ content:'\2302'; }
.ent-popup:before{ content:'\E74C'; }
.ent-search:before{ content:'\1F50D'; }
.ent-flashlight:before{ content:'\1F526'; }
.ent-print:before{ content:'\E716'; }
.ent-bell:before{ content:'\1F514'; }
.ent-link:before{ content:'\1F517'; }
.ent-flag:before{ content:'\2691'; }
.ent-cog:before{ content:'\2699'; }
.ent-tools:before{ content:'\2692'; }
.ent-trophy:before{ content:'\1F3C6'; }
.ent-tag:before{ content:'\E70C'; }
.ent-camera:before{ content:'\1F4F7'; }
.ent-megaphone:before{ content:'1F4E3'; }
.ent-moon:before{ content:'\0045'; }
.ent-palette:before{ content:'\1F3A8'; }
.ent-leaf:before{ content:'\1F342'; }
.ent-note:before{ content:'\266A'; }
.ent-beamed-note:before{ content:'\266B'; }
.ent-new:before{ content:'\1F4A5'; }
.ent-graduation-cap:before{ content:'\1F393'; }
.ent-book:before{ content:'\1F4D5'; }
.ent-newspaper:before{ content:'\1F4F0'; }
.ent-bag:before{ content:'\1F45C'; }
.ent-airplane:before{ content:'\2708'; }
.ent-lifebuoy:before{ content:'\E788'; }
.ent-eye:before{ content:'\E70A'; }
.ent-clock:before{ content:'\1F554'; }
.ent-mic:before{ content:'\1F3A4'; }
.ent-calendar:before{ content:'\1F4C5'; }
.ent-flash:before{ content:'\26A1'; }
.ent-thunder-cloud:before{ content:'\26C8'; }
.ent-droplet:before{ content:'\1F4A7'; }
.ent-cd:before{ content:'\1F4BF'; }
.ent-briefcase:before{ content:'\1F4BC'; }
.ent-air:before{ content:'\1F4A8'; }
.ent-hourglass:before{ content:'\23F3'; }
.ent-gauge:before{ content:'\1F6C7'; }
.ent-language:before{ content:'\1F394'; }
.ent-network:before{ content:'\E776'; }
.ent-key:before{ content:'\1F511'; }
.ent-battery:before{ content:'\1F50B'; }
.ent-bucket:before{ content:'\1F4FE'; }
.ent-magnet:before{ content:'\E7A1'; }
.ent-drive:before{ content:'\1F4FD'; }
.ent-cup:before{ content:'\2615'; }
.ent-rocket:before{ content:'\1F680'; }
.ent-brush:before{ content:'\E79A'; }
.ent-suitcase:before{ content:'\1F6C6'; }
.ent-traffic-cone:before{ content:'\1F6C8'; }
.ent-globe:before{ content:'\1F30E'; }
.ent-keyboard:before{ content:'\2328'; }
.ent-browser:before{ content:'\E74E'; }
.ent-publish:before{ content:'\E74D'; }
.ent-progress-3:before{ content:'\E76B'; }
.ent-progress-2:before{ content:'\E76A'; }
.ent-progress-1:before{ content:'\E769'; }
.ent-progress-0:before{ content:'\E768'; }
.ent-light-down:before{ content:'\1F505'; }
.ent-light-up:before{ content:'\1F506'; }
.ent-adjust:before{ content:'\25D1'; }
.ent-code:before{ content:'\E714'; }
.ent-monitor:before{ content:'\1F4BB'; }
.ent-infinity:before{ content:'\221E'; }
.ent-light-bulb:before{ content:'\1F4A1'; }
.ent-credit-card:before{ content:'\1F4B3'; }
.ent-database:before{ content:'\1F4F8'; }
.ent-voicemail:before{ content:'\2707'; }
.ent-clipboard:before{ content:'\1F4CB'; }
.ent-cart:before{ content:'\E73D'; }
.ent-box:before{ content:'\1F4E6'; }
.ent-ticket:before{ content:'\1F3AB'; }
.ent-rss:before{ content:'\E73A'; }
.ent-signal:before{ content:'\1F4F6'; }
.ent-thermometer:before{ content:'\1F4FF'; }
.ent-water:before{ content:'\1F4A6'; }
.ent-sweden:before{ content:'\F601'; }
.ent-line-graph:before{ content:'\1F4C8'; }
.ent-pie-chart:before{ content:'\25F4'; }
.ent-bar-graph:before{ content:'\1F4CA'; }
.ent-area-graph:before{ content:'\1F53E'; }
.ent-lock:before{ content:'\1F512'; }
.ent-lock-open:before{ content:'\1F513'; }
.ent-logout:before{ content:'\E741'; }
.ent-login:before{ content:'\E740'; }
.ent-check:before{ content:'\2713'; }
.ent-cross:before{ content:'\274C'; }
.ent-squared-minus:before{ content:'\229F'; }
.ent-squared-plus:before{ content:'\229E'; }
.ent-squared-cross:before{ content:'\274E'; }
.ent-circled-minus:before{ content:'\2296'; }
.ent-circled-plus:before{ content:'\2295'; }
.ent-circled-cross:before{ content:'\2716'; }
.ent-minus:before{ content:'\2796'; }
.ent-plus:before{ content:'\2795'; }
.ent-erase:before{ content:'\232B'; }
.ent-block:before{ content:'\1F6AB'; }
.ent-info:before{ content:'\2139'; }
.ent-circled-info:before{ content:'\E705'; }
.ent-help:before{ content:'\2753'; }
.ent-circled-help:before{ content:'\E704'; }
.ent-warning:before{ content:'\26A0'; }
.ent-cycle:before{ content:'\1F504'; }
.ent-cw:before{ content:'\27F3'; }
.ent-ccw:before{ content:'\27F2'; }
.ent-shuffle:before{ content:'\1F500'; }
.ent-back:before{ content:'\1F519'; }
.ent-level-down:before{ content:'\21B3'; }
.ent-retweet:before{ content:'\E717'; }
.ent-loop:before{ content:'\1F501'; }
.ent-back-in-time:before{ content:'\E771'; }
.ent-level-up:before{ content:'\21B0'; }
.ent-switch:before{ content:'\21C6'; }
.ent-numbered-list:before{ content:'\E005'; }
.ent-add-to-list:before{ content:'\E003'; }
.ent-layout:before{ content:'\268F'; }
.ent-list:before{ content:'\2630'; }
.ent-text-doc:before{ content:'\1F4C4'; }
.ent-text-doc-inverted:before{ content:'\E731'; }
.ent-doc:before{ content:'\E730'; }
.ent-docs:before{ content:'\E736'; }
.ent-landscape-doc:before{ content:'\E737'; }
.ent-picture:before{ content:'\1F304'; }
.ent-video:before{ content:'\1F3AC'; }
.ent-music:before{ content:'\1F3B5'; }
.ent-folder:before{ content:'\1F4C1'; }
.ent-archive:before{ content:'\E800'; }
.ent-trash:before{ content:'\E729'; }
.ent-upload:before{ content:'\1F4E4'; }
.ent-download:before{ content:'\1F4E5'; }
.ent-save:before{ content:'\1F4BE'; }
.ent-install:before{ content:'\E778'; }
.ent-cloud:before{ content:'\2601'; }
.ent-upload-cloud:before{ content:'\E711'; }
.ent-bookmark:before{ content:'\1F516'; }
.ent-bookmarks:before{ content:'\1F4D1'; }
.ent-open-book:before{ content:'\1F4D6'; }
.ent-play:before{ content:'\25B6'; }
.ent-paus:before{ content:'\2016'; }
.ent-record:before{ content:'\25CF'; }
.ent-stop:before{ content:'\25A0'; }
.ent-ff:before{ content:'\23E9'; }
.ent-fb:before{ content:'\23EA'; }
.ent-to-start:before{ content:'\23EE'; }
.ent-to-end:before{ content:'\23ED'; }
.ent-resize-full:before{ content:'\E744'; }
.ent-resize-small:before{ content:'\E746'; }
.ent-volume:before{ content:'\23F7'; }
.ent-sound:before{ content:'\1F50A'; }
.ent-mute:before{ content:'\1F507'; }
.ent-flow-cascade:before{ content:'\1F568'; }
.ent-flow-branch:before{ content:'\1F569'; }
.ent-flow-tree:before{ content:'\1F56A'; }
.ent-flow-line:before{ content:'\1F56B'; }
.ent-flow-parallel:before{ content:'\1F56C'; }
.ent-left-bold:before{ content:'\E4AD'; }
.ent-down-bold:before{ content:'\E4B0'; }
.ent-up-bold:before{ content:'\E4AF'; }
.ent-right-bold:before{ content:'\E4AE'; }
.ent-left:before{ content:'\2B05'; }
.ent-down:before{ content:'\2B07'; }
.ent-up:before{ content:'\2B06'; }
.ent-right:before{ content:'\27A1'; }
.ent-circled-left:before{ content:'\E759'; }
.ent-circled-down:before{ content:'\E758'; }
.ent-circled-up:before{ content:'\E75B'; }
.ent-circled-right:before{ content:'\E75A'; }
.ent-triangle-left:before{ content:'\25C2'; }
.ent-triangle-down:before{ content:'\25BE'; }
.ent-triangle-up:before{ content:'\25B4'; }
.ent-triangle-right:before{ content:'\25B8'; }
.ent-chevron-left:before{ content:'\E75D'; }
.ent-chevron-down:before{ content:'\E75C'; }
.ent-chevron-up:before{ content:'\E75F'; }
.ent-chevron-right:before{ content:'\E75E'; }
.ent-chevron-small-left:before{ content:'\E761'; }
.ent-chevron-small-down:before{ content:'\E760'; }
.ent-chevron-small-up:before{ content:'\E763'; }
.ent-chevron-small-right:before{ content:'\E762'; }
.ent-chevron-thin-left:before{ content:'\E765'; }
.ent-chevron-thin-down:before{ content:'\E764'; }
.ent-chevron-thin-up:before{ content:'\E767'; }
.ent-chevron-thin-right:before{ content:'\E766'; }
.ent-left-thin:before{ content:'\2190'; }
.ent-down-thin:before{ content:'\2193'; }
.ent-up-thin:before{ content:'\2191'; }
.ent-right-thin:before{ content:'\2192'; }
.ent-arrow-combo:before{ content:'\E74F'; }
.ent-three-dots:before{ content:'\23F6'; }
.ent-two-dots:before{ content:'\23F5'; }
.ent-dot:before{ content:'\23F4'; }
.ent-cc:before{ content:'\1F545'; }
.ent-cc-by:before{ content:'\1F546'; }
.ent-cc-nc:before{ content:'\1F547'; }
.ent-cc-nc-eu:before{ content:'\1F548'; }
.ent-cc-nc-jp:before{ content:'\1F549'; }
.ent-cc-sa:before{ content:'\1F54A'; }
.ent-cc-nd:before{ content:'\1F54B'; }
.ent-cc-pd:before{ content:'\1F54C'; }
.ent-cc-zero:before{ content:'\1F54D'; }
.ent-cc-share:before{ content:'\1F54E'; }
.ent-cc-remix:before{ content:'\1F54F'; }
.ent-db-logo:before{ content:'\1F5F9'; }
.ent-db-shape:before{ content:'\1F5FA'; }